* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--clash);
}

@font-face {
  font-family: techno;
  src: url(../fonts/font-technology/Technology-Bold.ttf);
}

:root {
  /* font */
  --techno: techno; /* font jam */
  --archivo: "Archivo", sans-serif; /* untuk font paragraf */
  --clash: "Clash Display", sans-serif; /* untuk font heading */

  /* color */
  --basic: #fff;
  --dark: #37353a;
  --general: #d4dae7;
  --primary: #3aaec4;
  --secondary: #7cbed5;
  --ternary: #626977;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--archivo);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

/* HERO SECTION */
#hero {
  height: 100vh;
  background-color: lightblue;
  color: var(--basic);
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#hero .row {
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

#hero button {
  padding: 1em 2em;
  border: none;
  background-color: #155297;
  color: var(--basic);
  font-weight: 600;
  border-radius: 10px;
}

#hero button:active {
  background-color: var(--primary);
}

/* SVG */

#hero svg path:nth-child(2) {
  stroke-dashoffset: 523;
  stroke-dasharray: 523;
  animation: textAnimate 3s ease-in-out infinite alternate;
}

#hero svg path:nth-child(3) {
  stroke-dashoffset: 140;
  stroke-dasharray: 140;
  animation: textAnimate 3s ease-in-out 0.1s infinite alternate;
}

#hero svg path:nth-child(4) {
  stroke-dashoffset: 210;
  stroke-dasharray: 210;
  animation: textAnimate 3s ease-in-out 0.2s infinite alternate;
}

#hero svg path:nth-child(5) {
  stroke-dashoffset: 346;
  stroke-dasharray: 346;
  animation: textAnimate 3s ease-in-out 0.3s infinite alternate;
}

#hero svg path:nth-child(6) {
  stroke-dashoffset: 318;
  stroke-dasharray: 318;
  animation: textAnimate 3s ease-in-out 0.4s infinite alternate;
}

#hero svg path:nth-child(7) {
  stroke-dashoffset: 575;
  stroke-dasharray: 575;
}

#hero svg path:nth-child(8) {
  stroke-dashoffset: 210;
  stroke-dasharray: 210;
}

#hero svg path:nth-child(9) {
  stroke-dashoffset: 346;
  stroke-dasharray: 346;
}

#hero svg path:nth-child(10) {
  stroke-dashoffset: 154;
  stroke-dasharray: 154;
}

#hero svg path:nth-child(11) {
  stroke-dashoffset: 140;
  stroke-dasharray: 140;
}

#hero svg path:nth-child(12) {
  stroke-dashoffset: 169;
  stroke-dasharray: 169;
}

#hero svg path:nth-child(13) {
  stroke-dashoffset: 210;
  stroke-dasharray: 210;
}

#hero svg path:nth-child(14) {
  stroke-dashoffset: 140;
  stroke-dasharray: 140;
}

@keyframes textAnimate {
  to {
    stroke-dashoffset: 0;
  }
}
