@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--poppins);
}

@font-face {
  font-family: techno;
  src: url(../fonts/font-technology/Technology-Bold.ttf);
}

:root {
  /* font */
  --techno: techno; /* font jam */
  --poppins: "Poppins", sans-serif; /* untuk font paragraf */
  --sacramento: "Sacramento", cursive; /* untuk font heading */
  --clash: "Clash Display", sans-serif; /* untuk clash */

  /* color */
  --basic: #fff;
  --dark: #37353a;
  --general: #d4dae7;
  --primary: #3aaec4;
  --secondary: #7cbed5;
  --ternary: #626977;
  --other: #68a6ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
}

/* HERO SECTION */
#hero {
  height: 100vh;
  background-color: lightblue;
  color: var(--basic);
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.start-fu {
  transform: translateY(-100%);
  opacity: 0;
}

#hero #opensesame {
  display: none;
}

.start-fu:first-child {
  animation: startFu 0.5s ease-in-out 1s forwards;
}

.start-fu:nth-child(2) {
  animation: startFu 0.5s ease-in-out 1.1s forwards;
}

.start-fu:nth-child(3) {
  animation: startFu 0.5s ease-in-out 1.2s forwards;
}

.start-fu:nth-child(4) {
  animation: startFu 0.5s ease-in-out 1.3s forwards;
}

@keyframes startFu {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#hero video,
#message video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#hero .row {
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

#hero h1 {
  font-family: var(--sacramento);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.5em;
}

#hero a {
  display: block;
  width: 300px;
  padding: 1em 2em;
  margin: 1em auto;
  border: none;
  background-color: var(--general);
  color: var(--basic);
  font-weight: 600;
  border-radius: 10px;
}

#hero a:active {
  background-color: var(--primary);
}
/* END HERO SECTION */

/* SECTION MESSAGE */
#message {
  display: none;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#message::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#message .row {
  justify-content: center;
  position: relative;
  z-index: 1;
}

#message img {
  width: 80px;
  border-radius: 50%;
}

#message .col {
  justify-content: space-evenly;
  gap: 1em;
  background-color: var(--basic);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 10px;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

#message .col.showUp {
  transform: translateY(0);
  opacity: 1;
}

#message .col .unread {
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  justify-content: center;
  font-weight: 700;
  padding: 15px;
  border-radius: 50%;
  color: var(--basic);
  position: absolute;
  top: -10px;
  right: 10px;
}

#message .detail-msg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}

#message .detail-msg.popUp {
  transform: translateY(0);
}

#message figcaption a.nextstep {
  display: none;
  padding: 1em;
  background-color: var(--dark);
  color: var(--basic);
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.card-msg-detail {
  text-align: center;
  color: var(--ternary);
  padding: 1em;
  border-radius: 10px;
  background-color: #e7e3d6;
  transform: translateY(20%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-msg-detail.popUp {
  transform: translateY(0);
  opacity: 1;
}

.card-msg-detail p {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  line-height: 1.5em;
}

.card-msg-detail p:first-child.popUp {
  animation: typing 3s steps(37, end) forwards;
}

.card-msg-detail p:nth-child(2).popUp {
  animation: typing 3s steps(36, end) forwards 3.1s;
}

.card-msg-detail p:nth-child(3).popUp {
  animation: typing 3s steps(46, end) forwards 6.1s;
}

.card-msg-detail p:nth-child(4).popUp {
  animation: typing 3s steps(48, end) forwards 9.1s;
}

.card-msg-detail p:nth-child(5).popUp {
  animation: typing 3s steps(35, end) forwards 12.1s;
}

.card-msg-detail p:nth-child(6).popUp {
  animation: typing 3s steps(44, end) forwards 15.1s;
}

.card-msg-detail p:nth-child(7).popUp {
  animation: typing 3s steps(37, end) forwards 18.1s;
}

.card-msg-detail p:nth-child(8).popUp {
  animation: typing 3s steps(44, end) forwards 21.1s;
}

.card-msg-detail p:nth-child(9).popUp {
  animation: typing 3s steps(37, end) forwards 24.1s;
}

.card-msg-detail p:nth-child(10).popUp {
  animation: typing 3s steps(24, end) forwards 27.1s;
}

.card-msg-detail p:nth-child(11).popUp {
  animation: typing 3s steps(36, end) forwards 30.1s;
}

.card-msg-detail .mark {
  position: relative;
  overflow: hidden;
}

.card-msg-detail .awkward {
  display: none;
}

@keyframes typing {
  to {
    width: 100%;
  }
}

.close-msg {
  display: none;
  width: 100%;
  padding: 1em 2em;
  margin: 1em auto;
  border: none;
  background-color: var(--primary);
  color: var(--basic);
  font-weight: 600;
  border-radius: 10px;
}

/* END SECTION MESSAGE */

/* SECTION ABOUT */

#about {
  display: none;
  overflow: hidden;
  background-color: #181818;
  color: var(--basic);
  padding: 2em 0 0 0;
  font-family: var(--clash);
  text-align: center;
}

#about .row {
  margin: 2em 0;
}

#about .head {
  justify-content: center;
  margin: 10px 0;
}

.who {
  transform: translateY(-10px);
  opacity: 0;
}

#about .head #textLogo {
  fill: transparent;
}

#about .head #textLogo.showUp {
  animation: backText 2s ease forwards 3.7s;
}

.who.showUp {
  animation: fadedown 0.5s ease forwards;
}

#about svg path:first-child {
  stroke-dashoffset: 227;
  stroke-dasharray: 227;
}

#about svg path:first-child.showUp {
  animation: line 2s ease forwards;
}

#about svg path:nth-child(2) {
  stroke-dashoffset: 298;
  stroke-dasharray: 298;
}

#about svg path:nth-child(2).showUp {
  animation: line 2s ease forwards 0.3s;
}

#about svg path:nth-child(3) {
  stroke-dashoffset: 345;
  stroke-dasharray: 345;
}

#about svg path:nth-child(3).showUp {
  animation: line 2s ease forwards 0.6s;
}

#about svg path:nth-child(4) {
  stroke-dashoffset: 163;
  stroke-dasharray: 163;
}

#about svg path:nth-child(4).showUp {
  animation: line 2s ease forwards 0.9s;
}

#about svg path:nth-child(5) {
  stroke-dashoffset: 276;
  stroke-dasharray: 276;
}

#about svg path:nth-child(5).showUp {
  animation: line 2s ease forwards 1.1s;
}

#about svg path:nth-child(6) {
  stroke-dashoffset: 71;
  stroke-dasharray: 71;
}

#about svg path:nth-child(6).showUp {
  animation: line 2s ease forwards 1.4s;
}

#about svg path:nth-child(7) {
  stroke-dashoffset: 163;
  stroke-dasharray: 163;
}

#about svg path:nth-child(7).showUp {
  animation: line 2s ease forwards 1.7s;
}

#about svg path:last-child {
  stroke-dashoffset: 322;
  stroke-dasharray: 322;
}

#about svg path:last-child.showUp {
  animation: line 2s ease forwards 2.1s;
}

#about .col {
  text-align: left;
  padding: 1em;
  /* border: 1px solid white; */
}

#about .desc {
  margin-bottom: 1em;
}

#about .desc p {
  margin: 10px 0;
  text-align: justify;
  font-family: var(--poppins);
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes backText {
  from {
    fill: transparent;
  }
  to {
    fill: var(--basic);
  }
}

@keyframes fadedown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.photo-preview {
  height: 500px;
  animation: slidePreview 10s ease-in-out infinite alternate-reverse;
  margin: 1.5em 0;
}

.head-game {
  margin: 2em 0;
}

.btn-ramal {
  padding: 1em 2em;
  margin: 1em 0;
  background-color: var(--dark);
  color: var(--basic);
  border: none;
}

@keyframes slidePreview {
  0% {
    background: url(../assets/c-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  15% {
    background: url(../assets/c-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  30% {
    background: url(../assets/c-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  45% {
    background: url(../assets/c-4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  60% {
    background: url(../assets/c-5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  75% {
    background: url(../assets/c-6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  80% {
    background: url(../assets/c-8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  90% {
    background: url(../assets/c-9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url(../assets/c-10.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hasil-ramal {
  margin: 2em 0;
  height: 0;
  overflow-x: scroll;
  justify-content: space-evenly;
  gap: 1em;
  transition: 0.3s ease-in-out;
}

.hasil-ramal::-webkit-scrollbar {
  display: none;
}

.hasil-ramal .col {
  flex: 0 0 300px;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.hasil-ramal .head-content {
  justify-content: space-between !important;
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.hasil-ramal .content-tarot {
  font-size: 0.8rem;
  overflow-y: scroll;
  height: 180px;
  display: none;
  justify-content: justify;
}

.hasil-ramal .content-tarot p {
  font-family: var(--poppins);
}

.hasil-ramal .content-tarot::-webkit-scrollbar {
  display: none;
}

.compile {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s ease-in-out;
}

.you {
  display: block;
  margin-top: 5em;
}

.compile:hover {
  filter: grayscale(0);
}

/* END SECTION ABOUT */

/* FOOTER */

footer {
  display: none;
  text-align: center;
  padding: 1em 0;
  color: var(--basic);
  background-color: #0f0f0f;
}

/* END FOOTER */

/* media query */
/* laptop view */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* tablet view */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 8px;
  }

  #about .row {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    margin: 2em 0;
  }

  .hasil-ramal {
    justify-content: flex-start;
  }
}

/* smartphone view */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
  }

  .card-msg-detail p {
    font-size: 1.3rem;
  }

  .content-tarot {
    font-size: 5em;
  }
}
