@font-face {
  font-family: techno;
  src: url(../fonts/font-technology/Technology-Bold.ttf);
}

.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: techno;
  margin: 10px auto;
}

.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 10px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  font-weight: 700;
  color: var(--basic);
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 3rem;
}
